.card-footer-content {
  display: contents;
  align-items: center;
  justify-content: space-between;
}

.card-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  height: 85vh;
  overflow: auto;
}
