<div class="card">
  <div class="card-content">
    <div class="card-header-content">
      <lu-user-tile [user]="user" [displayFormat]="displayFormat"></lu-user-tile>
      <button class="button palette-warning" (click)="logout.emit(user)">
        <span aria-hidden="true" class="lucca-icon icon-logout"></span>Logout
      </button>
    </div>

    <div class="divider u-marginBottomSmaller u-marginTopSmaller"></div>

    <nav class="menu mod-small">
      <ul class="menu-list">
        <li class="menu-list-item">
          <a (click)="selectRecipient()"
             class="menu-list-item-action"
             [class.is-active]="selectedRecipient === undefined"
          >Main Room</a>
        </li>

        <li class="menu-list-item" *ngFor="let recipient of recipients">
          <a (click)="selectRecipient(recipient)"
             class="menu-list-item-action"
             [class.is-active]="selectedRecipient === recipient"
          >{{recipient.firstName}} {{recipient.lastName}}</a>
        </li>

      </ul>
    </nav>

    <div>
      <ul class="list">
        <app-message-item *ngFor="let message of filteredMessages" [message]="message" [currentUser]="user"
                          (deleteMessage)="deleteMessage.emit($event)"></app-message-item>
      </ul>
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer-content">
      <label class="textfield mod-block">
        <input class="textfield-input" type="text" placeholder="Send a message !" [(ngModel)]="content"
               (keyup.enter)="sendMessage()"/>
      </label>
      <button type="button" class="button mod-icon u-marginLeftSmall" (click)="sendMessage()"
              [disabled]="content.trim()===''">
        <span aria-hidden="true" class="lucca-icon icon-send"></span>
      </button>
    </div>
  </div>
</div>
